@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 
body {
	font-family: 'Droid Arabic Kufi', sans-serif; 
}
.fl {
	width:100%;
}
.inp {
	background-color:#006CC9;
}
.hideElem {
	display:none;
}
.showElem {
	display:auto;
}
#wrapper {
	width:1300px;
	min-width:1300px;
	margin:auto;
	margin-top:50px;
}
